  .img-responsive{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .hidden {
    visibility:hidden;
  }
  .sliced-img {
    position: relative;
    width: 100%;
    z-index: 2;
  }
  body[data-nav="true"] .sliced-img{
    z-index: 0;
  }
  .slice {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
  }
  
  .s1 {
    z-index: 1;
    left: 0;
    background-image: url('../img/Eva Dou/0.webp'); /* black */
    background-position: 0%;
    transition: left 500ms ease-out;
  }
  
  .s2 {
    z-index: 1;
    left: 50%;
    background-image: url('../img/Eva Dou/0.webp'); /* pink */
    background-position: -100%;
    transition: left 500ms ease-out;
  }
  body[data-nav="true"] .s1 {
    left: -15%;
  }
  body[data-nav="true"] .s2 {
    left: 65%;
  }